@page "/excel-upload"
@using Microsoft.AspNetCore.Components.Forms
@using OfficeOpenXml
@using System.Data

<InputFile OnChange="HandleFileUpload" />
@if (dataTable != null)
{
    <table class="table">
        <thead>
            <tr>
                @foreach (DataColumn col in dataTable.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in dataTable.Rows)
            {
                <tr>
                    @foreach (var cell in row.ItemArray)
                    {
                        <td>@cell</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DataTable? dataTable;

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null && Path.GetExtension(file.Name).Equals(".xlsx", StringComparison.OrdinalIgnoreCase))
        {
            ExcelPackage.LicenseContext = LicenseContext.NonCommercial; // Set license context according to your use case
            using var stream = file.OpenReadStream();
            using var package = new ExcelPackage(stream);
            var worksheet = package.Workbook.Worksheets[0]; // Assuming data is in the first worksheet
            dataTable = worksheet.Cells[worksheet.Dimension.Address].ToDataTable();
        }
    }
}
